<!DOCTYPE html>
<html>
<body>
<form action="/templates" method="GET">
<input type="submit" name="back" value="Вернуться обратно">
</form>
<head>
<title>Pizza has been deleted</title>
</head>
</body>
</html>